.DS_Store
/cube/Cube/*
/cube/enet/*
/cube/include/*
/cube/lib/*
/cube/vcpp/*
/cube/readme.txt
*.o
/lizenzierung/server/generate
lizenzierung/server/database/connect
lizenzierung/server/generate
/lizenzierung/Client/ipch/*
!/cube/Cube/Lizenzschluessel.txt